body {
    background-color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0 20px 10px 20px;
    margin-top: 20px;
}

.sidebar nav ul li {
    margin-bottom: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar .library {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}

.sidebar .library a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.sidebar .library button {
    background-color: #121212;
    border: none;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}